// break point
$small: 576px;
$medium: 768px;
$large: 992px;

// color
$primary-color: #5d3bee;
$gray-color: #51586a;
$heading-color: #080415;
$bg-white: #fbfaff;
$white-fd: #fdfdfd;
$primary-opacity: #dfd8fc;
